
body {
    margin: 0;
    background-color: #E5E7E9;
    font-family: 'Mate', serif;
}
#logo{
  top:0;
  text-align:center;
  padding: 0px 0px;
  font-family:'Mate', serif;

}
.navbar {
   overflow:hidden;
  background:#D7DBDD;
  position: fixed;
  top:0;
  width: 100%;
  text-align:center;
}
.navbar a{
   float:center;
  color:black;
  padding:0px 20px;
  text-decoration:none;
}

.navbar a:hover{
  text-decoration:none;
  font-size:25px;
  font-weight:bold;
}

#content{
  text-align:justify;
  margin-top:50px;
  padding: 30px;
  font-size:20px;
}
*{
  box-sizing: border-box;
}
.imbox{
  float:left;
  width:80.0%;
  height:50.0%;
  padding: 0px;
  overflow:scroll;
  background-color:#E5E7E9;
}
#pdf{
  width:80%;
  height:750px;
  display:block;
  border:0%;
  float:none;
  padding:0px;
  margin-left:10%;
  margin-right:10%;
  margin-bottom:5%;
}
h1, h3{
  text-align:left;
  font-family: 'Playfair Display SC', serif;
}
img{
  float:right;
  width:450px;
  height:450px;
}
.videocontainer{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:85%;
  height:450px;
  float:right;
}
